name: Push/PR
on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  static-analysis:
    name: Run all static analysis checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check if CHANGELOG is valid
        uses: newrelic/release-toolkit/validate-markdown@v1

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Run unit tests
        run: make test
